@use "normalize";
@use "reset";
@use "element";
@use "stack";

/*ポチレバ*/
.pochireba {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px #ddd;
  padding: 15px !important;
  margin-bottom: 20px;
  text-align:center;
}
.pochireba .pochi_img {
  box-shadow: 0 0 1px 1px #ccc;
  margin: 25px !important;
  width:170px;
}
.pochireba .pochi_info {
  margin-left: 5px;
}
.pochireba .pochi_name {
  text-align: center;
}
.pochireba .pochi_name a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 0 10px 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  line-height: 26px;
  background: -moz-linear-gradient(top,#FFF 0%,#EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
}
.pochireba .pochi_seller {
  margin-bottom: 5px;
}
.pochireba .pochi_name a::after {
  content: 'ダウンロードページへ';
  display: block;
  font-size: 15px;
  color: #555;
}
/*カエレバ*/
.kaerebalink-box,
    .booklink-box {
       width:100%;
       font-size:12px;
       color:#5e6065;
       border:1px solid #ddd;
       padding:15px 15px 14px;
       margin:26px 0 28px;
       box-sizing:border-box;
       word-break:break-all;
    }
    .kaerebalink-box:after,
    .booklink-box:after {
       content:"";
       display:block;
       clear:both;
    }
    .kaerebalink-image,
    .booklink-image {
       float:left;
       width:100px;
       text-align:center;
    }
    .kaerebalink-image img,
    .booklink-image img {
       margin:0 !important;
       width:100%;
       height:auto;
    }
    .kaerebalink-info,
    .booklink-info {
       margin:0 0 0 110px;
    }
    .kaerebalink-name > a,
    .booklink-name > a {
       font-size:14px;
       font-weight:bold;
       color:#2e3035;
    }
    .kaerebalink-powered-date,
    .booklink-powered-date {
       line-height:1.5;
       margin:3px 0;
    }
    .kaerebalink-powered-date a,
    .booklink-powered-date a {
       color:#5e6065;
    }
    .kaerebalink-detail,
    .booklink-detail {
       line-height:1.5;
    }
    .kaerebalink-link1 a,
    .booklink-link2 a {
       color:#fff;
       text-decoration:none;
       display:block;
       text-align:center;
       line-height:28px;
       border-radius:4px;
    }
    /* ブランドカラーより少し薄めに */
    .shoplinkamazon a {
       background:#f8a512;
       margin:7px 0 5px;
    }
    .shoplinkkindle a {
       background:#159dd6;
       margin:5px 0;
    }
    .shoplinkrakuten a {
       background:#d43232;
    }
    .shoplinkyahoo a {
       background:#848484;
    }
    /* ショップ名の後ろに「で探す」を表示 */
    .shoplinkamazon a:after,
    .shoplinkyahoo a:after,
    .shoplinkkindle a:after,
    .shoplinkrakuten a:after {
       content:"\3067\63A2\3059";
    }
    .kaerebalink-link1 a:hover,
    .booklink-link2 a:hover {
       opacity:.8;
       color:#fff;
    }
    .kaerebalink-box p,
    .booklink-box p {
       margin:0;
    }
    @media screen and (min-width:471px) {
      .kaerebalink-detail,
      .booklink-detail {
         margin-bottom:7px;
      }
      .kaerebalink-link1,
      .booklink-link2 {
         margin-right:-6px;
      }
      .kaerebalink-link1 div,
      .booklink-link2 div {
         width:50%;
         float:left;
         margin-bottom:5px;
         padding-right:0px;
      }
      .booklink-link2 div:nth-of-type(3) {
         margin-top:1px;
      }
      .shoplinkamazon a,
      .shoplinkkindle a {
         margin:0;
      }
    }
    @media screen and (min-width:581px) {
      .kaerebalink-box,
      .booklink-box {
         font-size:13px;
         padding:20px 20px 19px;
         margin:28px 0 32px;
      }
      .kaerebalink-image,
      .booklink-image {
         width:112px;
      }
      .kaerebalink-info,
      .booklink-info {
         margin:0 0 0 124px;
      }
      .kaerebalink-name > a,
      .booklink-name > a {
         font-size:15px;
      }
      .kaerebalink-powered-date,
      .booklink-powered-date {
         margin:4px 0;
      }
      .kaerebalink-link1 a,
      .booklink-link2 a {
         line-height:30px;
         font-size:12px;
      }
			 /*ポチレバスマホ用コード*/
  .pochireba > a {
  display: block;
}
.pochireba .pochi_img {
  float: none !important;
  margin: 0 auto 10px !important;
}
.pochireba .pochi_name {
  font-size: 17px;
}

    }
    @media screen and (min-width:768px) {
      .kaerebalink-link1 div,
      .booklink-link2 div {
         width:33.33333333%;
		}
		.c-site-branding .custom-logo, .wpaw-site-branding .custom-logo {
    height: auto!important;
    width: 300px!important;
      }
      .booklink-link2 div:nth-of-type(3) {
         margin-top:0;
      }
    }
